SLACK_BOT_TOKEN=xoxb-xxxxxxxxxxxxxxxxxxxxxxxx
SLACK_SIGNING_SECRET=xxxxxxxxxxxxxxxxxxxxxxxx
SLACK_APP_TOKEN=xapp-xxxxxxxxxxxxxxxxxxxxxxxx
SLACK_CHANNEL_ID=C01234567

USER_A=U01234567
USER_B1=U01234567
USER_B2=U01234567
USER_C=U01234567

TZ=Asia/Tokyo
